<%provide(:title, 'Contact Us')%>


<h1> Contact Us</h1>

<p> This is the contact page to hit us up for help at 
<a href="http://railstutorial.org/contact"> Rails Contact Page</a>.
	Feel free to leave a question and we will get back to you.
</p>

